<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>SE!診断-ご回答ありがとうございます！</title>
    <link rel="stylesheet" href="css/uikit.gradient.min.css" />
    <script src="js/uikit.min.js"></script>
</head>
<body>
    <div class="uk-grid">
        <div class="uk-width-1-6"></div>
        <div class="uk-width-2-3">
            <div class=" uk-text-center">
                <h1>ご協力ありがとうございました！</h1>
            </div>
            <P>ご参考URL</P>
            <p>質問１：<a href="https://crowdtech.jp/job_offers/features/system_engineer/articles/299/">システムエンジニアと結婚する方に贈る5つのアドバイス</a></p>
            <p>質問２：<a href="https://cotree.jp/columns/21">ITエンジニアはなぜうつ病になりやすい？SEにありがちな5つの考え方の癖</a></p>
            <p>質問３：<a href="http://www.gixo.jp/blog/4747">「プログラムを書く」と「システムを作る」は別物だ｜本気で読み解く”人月の神話”</a></p>
            <p>質問４：<a href="http://rfs.jp/sb/sql/s01/01-19.html#DBMS-2">第1章 SQL概説</a></p>
            <p>質問５：<a href="http://d.hatena.ne.jp/higepon/20150921/1442843666">プログラマ向けに書かれた「Soft Skills」という本がすごいという話</a></p>
        </div>
        <div class="uk-width-1-6"></div>
    </div>
</body>
</html>