<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>アンケート画面(1/2)</title>
    <link rel="stylesheet" href="css/uikit.gradient.css" />
    <script src="js/uikit.min.js"></script>
</head>
<body>
    <div class="uk-text-center">
        <h3>以下の質問に回答し、最下部のボタンをクリックしてください。</h3>
        <h6>※必ず全ての質問に回答してください。</h6>
        <form class="uk-form" method="GET" action="./quetionnaire2.html">
            <label>質問１</label>
            <h3>
                これまで社内Webサービスで最も使いにくいと感じたページ名を記入してください。（100文字以内）
                （判断基準：初めて見たときに操作に困った・日常的に使うときに面倒くさい等）
            </h3>
            <div class="uk-margin">
                <textarea cols="50" rows="3" maxlength="100"></textarea>
            </div>
            <label>質問２</label>
            <h3>
                質問１で回答したページが具体的にどのように使いづらいか記入してください。（100文字以内）
            </h3>
            <div class="uk-margin">
                <textarea cols="50" rows="3" maxlength="100"></textarea>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large">アンケート画面(2/2)に進む</button>
            </div>
        </form>
    </div>
</body>
</html>