<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>インターンPJ(仮)</title>
    <link rel="stylesheet" href="css/uikit.gradient.css" />
    <script src="js/uikit.min.js"></script>
</head>
<body>
    <div class="uk-text-center">
        <h2>この度はアンケートにご協力いただきありがとうございます。</h2>
        <h3>下のボタンよりアンケートを進めて下さい。</h3>
        <form class="uk-form" method="GET" action="./quetionnaire1.html">
            <button class="uk-button uk-button-primary uk-button-large">アンケートに進む</button>
        </form>
    </div>
</body>
</html>